<html lang="en">
<head>
  <%- include ('partials/head.ejs') %>
  <title>Show</title>
</head>
<body>
  <div class="show-container">
    <div class="show-info">
      
        <!-- <%=painting.title%> <br>
        <%=painting.author%> <br>
        <%=painting.year%> <br> -->
     
     
  
      <!-- <a href="/paintings/<%=painting.id%>">
        <img class="show-img" src="<%=painting.imageURL%>" alt=""> 
      </a><br> -->
     
  
      <br>
      
      <div class="show-body-container">
        <span class="show-painting-body"><%=painting.body%></span> 
      </div>
      
     
      <% if(user){ %>
    <div class="show-page-btns">
      <form action="/paintings/delete/<%=painting.id; %>" method="POST">
        <button class="delete-painting-btn" type="submit">Delete</button>
      </form>

      <a class="edit-painting-btn" href="/paintings/<%=painting.id%>/edit">Edit</a>
      </div>
    </div> 
     <% } %> 
    <a class="show-page-link" href="/paintings">Back to Paintings</a>
  </div>
  
  
          
</body>
</html>