<html lang="en">
<head>
  <%- include ('partials/head.ejs') %>
  <title>Show</title>
</head>
<body>
  <div class="show-container">
    <div class="show-info">
      
        <!-- <%=abstract.title%> <br>
        <%=abstract.author%> <br>
        <%=abstract.year%> <br> -->
     
     
  
      <!-- <a href="/abstracts/<%=abstract.id%>">
        <img class="show-img" src="<%=abstract.imageURL%>" alt=""> 
      </a><br> -->
     
  
      <br>
  
      <div class="show-body-container">
        <span class="show-painting-body"><%=abstract.body%></span> 
      </div>
      
      <div class="show-page-btns">
      <form  action="/abstracts/delete/<%=abstract.id; %>" method="POST">
        <button class="delete-painting-btn" type="submit">Delete</button>
      </form>
        
      <a class="edit-painting-btn" href="/abstracts/<%=abstract.id%>/edit">Edit</a>
      </div>
    </div>
    <a class="show-page-link" href="/">Back to Abstracts</a>
  </div>
  
  
          
</body>
</html>